body{
    background-image: url('../img/background_bus.jpg');
    background-repeat: no-repeat;
    background-size: 1920px 980px;
}
a{
    color: white;
}
a:hover{
    color: #ffff00;
    text-decoration: none;
}
.main-title-part{
    border: 1px solid #8585ad;
    margin-top: 15px;
    background-color: #8585ad;
    position: relative;
}
.page-title{
    text-align: left; 
    font-size: 24px; 
    font-weight: bold;
    color: white;
    margin-left: 10px;
}
.menu-item{
    text-align: center; 
    font-size: 24px;
    color: white;
    padding: 5px;
}
.menu-table{
    margin-top: 5px;
}
.title-component{
    display: inline-block;
}
.title-icon-margin{
    width: 30px;
}
.menu-link{
    margin-right: 30px;
}
.dropdown-toggle:hover{
    color: #ffff00;
    cursor: pointer;
}
.dropdown-toggle:after{
    display: none;
}
.search-item{
    font-size: 18px;
    color: #8585ad;
}
.drop-item-icon{
    color: #ff8080;
}
.map-part{
    margin-top: 20px;
}
.controlPanel{
    display: none;
    text-align: left;
    font-size: 16px;
}
.country-menu{
   overflow-x: hidden;
   max-height: 95px;
   height: auto;
}
.sidenav {
    height: 75%;
    width: 0;
    margin-top: 40px;
    position: fixed;
    z-index: 1;
    right: 0;
    background-color: #8585ad;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a:hover {
    color: #ffff00;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 86%;
    font-size: 36px;
}