spring:
  datasource-primary:
    driver-class-name: org.postgresql.Driver 
    jdbcUrl: jdbc:postgresql://postgres-cts:5432/sandbox
    username: postgres
    password: home
    separator: ^;
    hikari:
      minimumIdle: 2
      maximumPoolSize: 10
      idleTimeout: 120000
      connectionTimeout: 300000
      leakDetectionThreshold: 300000
  datasource-secondary:
   driver-class-name: org.postgresql.Driver 
   jdbcUrl: jdbc:postgresql://localhost:5434/sandbox
   username: postgres
   schema: test_gtfs
   password: home
   separator: ^;
  servlet: 
   multipart:
    max-file-size: 50MB
    max-request-size: 50MB
---
configs:
   threadParams:
      initDelayed: 30
      delayBetween: 40
   tempDirectory: E:/Development/temp_downloads/
   tables:
      - agency
      - feed_info
      - trips
      - calendar_dates
      - routes
      - stop_times
      - stops
      - shapes
      - pathways